<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <link rel="stylesheet" href="{% static "css/myone.css"%}">
    <title></title>
  </head>
  <body>
    <div class="myone">


     <div class="container">
       <div class="jumbotron">
         <h1>HI WELCOME TO BHANU WORLD</h1>
         <h2>welcome nnnn watch that's it</h2>

                 <a href="/profile" class="btn btn-primary">click to watch</a>
       </div>

     </div>
   </div>
  </body>
</html>
