<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/myone1.css"%}">

    <title></title>
  </head>
  <body>
    <h1>WELCOME TO BHANU's DEN</h1>
    <img src="{%static "images/a4.jpg" %}" alt="cmngsoon">
    <img src="{%static "images/a5.jpg" %}" alt="cmngsoon">
    <img src="{%static "images/a6.jpg" %}" alt="cmngsoon">
    <img src="{%static "images/a1.jpg" %}" alt="cmngsoon">
    <img src="{%static "images/a2.jpg" %}" alt="cmngsoon">
    <img src="{%static "images/a3.jpg" %}" alt="cmngsoon">
    <img src="{%static "images/a7.jpg" %}" alt="cmngsoon">
    <img src="{%static "images/a8.jpg" %}" alt="cmngsoon">
    <img src="{%static "images/a9.jpg" %}" alt="cmngsoon">
    <img src="{%static "images/a10.jpg" %}" alt="cmngsoon">
    <img src="{%static "images/a11.jpg" %}" alt="cmngsoon">
    <img src="{%static "images/a12.jpg" %}" alt="cmngsoon">
    <img src="{%static "images/a13.jpg" %}" alt="cmngsoon">
    <img src="{%static "images/a14.jpg" %}" alt="cmngsoon">
    <img src="{%static "images/a15.jpg" %}" alt="cmngsoon">
    <img src="{%static "images/a16.jpg" %}" alt="cmngsoon">
    <img src="{%static "images/a17.jpg" %}" alt="cmngsoon">
    <img src="{%static "images/a18.jpg" %}" alt="cmngsoon">
    <img src="{%static "images/a19.jpg" %}" alt="cmngsoon">
    <img src="{%static "images/a20.jpg" %}" alt="cmngsoon">

    <h1>THAT'S ALL FOR NOW</h1>
    <h1>THNQQQQQ FOR VISITING MY WORLD</h1>
      <h1>seeee u sooooooooon</h1>

  </body>
</html>
